footer {
  flex-shrink: 0;
  width: 100vw;
  background: var(--fit-bg);
  border-top: 1px solid var(--fit-border);
  text-align: center;
  color: var(--fit-text);
  padding: 1.4em 0 1em 0;
  font-size: 1em;
  box-shadow: 0 -3px 14px -5px rgba(65,50,46,0.07);
  position: static !important;
}